// gradient bg
@mixin bgGrad()
    background-image: linear-gradient(45deg,hsl(31deg 100% 48%) 0%,hsl(36deg 96% 59%) 33%,hsl(43deg 85% 69%) 67%,hsl(51deg 55% 82%) 100%)
    border-bottom: 2px solid $fourth-color
    border-left: 2px solid $fourth-color
    border-radius: 25px

@mixin title()
    margin: 10px 0
    font-size: 45px

@mixin button()
    border-radius: 15px
    cursor: pointer
    font-size: 25px
    font-family: 'Iceland'
    outline: none
    border: none
    border-bottom: 1px solid red
    color: $third-color
    background-color: $main-color

@mixin iconBefore()
    display: block
    content: ''
    width: 20px
    height: 20px
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    margin-right: 10px
    
@mixin burgerGrad()
    background-image: linear-gradient(90deg,hsl(31deg 100% 48%) 0%,hsl(32deg 94% 51%) 8%,hsl(34deg 95% 53%) 17%,hsl(35deg 95% 56%) 25%,hsl(37deg 96% 59%) 33%,hsl(38deg 96% 61%) 42%,hsl(40deg 97% 64%) 50%,hsl(41deg 93% 67%) 58%,hsl(43deg 88% 70%) 67%,hsl(45deg 82% 73%) 75%,hsl(47deg 75% 76%) 83%,hsl(49deg 66% 79%) 92%,hsl(51deg 55% 82%) 100%)
