@mixin iconStyle($bgi: '⭕')
    background-image: $bgi
    display: block
    width: 20px
    height: 20px
    content: ''
    background-size: contain
    margin-right: 15px

@mixin langStyle($bgi: red)
    background-image: $bgi
    background-size: contain