@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto+Mono&display=swap')
@import _mixins.sass

// Colors -> Lemon Meringue + Prussian Blue Color Palette
$main-color: #003049
$fourth-color: #d62828
$secondary-color: #f77f00
$fifth-color: #fcbf49
$third-color: #eae2b7

// Fonts
    // Exo 2 & Alegreya Sans
        // 06. Julius Sans One and Archive Narrow
// 17. Nova Mono and Lato
    // 22. Gilroy and Jura

$m-font: 'Iceland',
$sec-font: 'Roboto Mono',
// $t-font:
// $f-font:
// $fi-font:
// $s-font:

// General styles
#body
    margin: 0
    padding: 0
    overflow: hidden
    box-sizing: border-box
    height: 100vh
    background-color: $main-color

.wrapper
    height: 100%
    display: flex

.menu
    width: 20%
    &__nav > *
        // outline: 2px solid red
        width: 70%
        height: 45px
        cursor: pointer
        margin: 10px 0
        padding-left: 15px
        font-size: 25px
        display: flex
        align-items: center
        @include bgGrad()
        border-radius: 0px 15px 15px 0
        border: none

.active
    @include bgGrad
    border-radius: 0px 15px 15px 0
    border-left: none
    border-bottom: 2px solid $third-color
    width: 80%

.display
    // outline: 2px solid yellow
    width: 80%
    display: flex
    justify-content: center
    align-items: center

.about
    // outline: 2px solid red
    @include bgGrad
    padding: 10px 50px
    &__title
        font-size: 50px
        margin: 15px 0
    &__subtitle
        font-size: 40px
        margin: 15px 0
    &__text
        font-size: 25px
        text-align: justify

.skills
    // outline: 2px solid red
    display: flex
    width: 40%
    justify-content: space-between
    flex-wrap: wrap
    padding: 30px
    @include bgGrad
    &__type
        @include title
    &__item
        font-size: 23px
    &__level
        width: 100%
        height: 14px
        border: 1px solid red
        margin: 4px 0 10px 0
        border-radius: 10px
    &__first
        width: 40%
    &__sec
        width: 40%
    &__more
        width: 100%
        margin: 20px 0 0 0
        height: 40px
        @include button

.projects
    // outline: 2px solid red
    width: 80%
    // height: 500px
    padding: 15px
    @include bgGrad
    &__title
        @include title
    &__wrap
        display: flex
        margin: 10px 0
        justify-content: space-between
    &__input
        width: 35%
        height: 40px
        border-radius: 10px
        padding: 0 10px
        outline: none
        font-size: 20px
        border: none
        letter-spacing: 2px
    &__keywords
        width: 100%
        height: 40px
        outline: 2px solid red
    &__info
        width: 30%
        height: 40px
        outline: 2px solid red
    &__clear
        @include button
        padding: 0 20px
    &__display
        // outline: 2px solid red
        width: 100%
        // height: 200px
        margin-top: 40px
        display: flex
        justify-content: center
        // gap: 30px
        flex-wrap: wrap
    &__item
        width: 30%
        height: 100px
        outline: 2px solid blue
        display: block 
        margin: 15px
        background-color: $secondary-color
        border-radius: 10px

.hidden
    display: none

// ideas 💡
// make mobile v
// make comment marks for blocks
// we can make it more minimalistic with wrapping 
// we can also move our blocks from each side slowly for more interesting presentation
