@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto+Mono&display=swap");
#body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  height: 100vh;
  background-color: #003049;
  font-family: "Iceland", monospace;
}

.wrapper {
  height: 100%;
  display: flex;
}

.menu {
  width: 20%;
  z-index: 2;
  transition: width 1s;
}
.menu__nav > * {
  width: 70%;
  height: 45px;
  cursor: pointer;
  margin: 10px 0;
  padding-left: 15px;
  font-size: 25px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(45deg, hsl(31, 100%, 48%) 0%, hsl(36, 96%, 59%) 33%, hsl(43, 85%, 69%) 67%, hsl(51, 55%, 82%) 100%);
  border-bottom: 2px solid #d62828;
  border-left: 2px solid #d62828;
  border-radius: 25px;
  border-radius: 0px 15px 15px 0;
  border: none;
  transition: background 1s, border-bottom 1s, width 0.3s, padding 1s;
  transition-timing-function: in-out;
  transition-delay: 0.5;
}
.menu__nav > *:hover {
  background: #f77f00;
  border-bottom: 1px solid #eae2b7;
}

.active {
  background-image: linear-gradient(45deg, hsl(31, 100%, 48%) 0%, hsl(36, 96%, 59%) 33%, hsl(43, 85%, 69%) 67%, hsl(51, 55%, 82%) 100%);
  border-bottom: 2px solid #d62828;
  border-left: 2px solid #d62828;
  border-radius: 25px;
  border-radius: 0px 15px 15px 0;
  border-left: none;
  border-bottom: 2px solid #eae2b7;
  width: 80%;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  width: 50%;
  background-image: linear-gradient(45deg, hsl(31, 100%, 48%) 0%, hsl(36, 96%, 59%) 33%, hsl(43, 85%, 69%) 67%, hsl(51, 55%, 82%) 100%);
  border-bottom: 2px solid #d62828;
  border-left: 2px solid #d62828;
  border-radius: 25px;
  padding: 10px 50px;
  transition: width 1s, padding 1s;
}
.about__title {
  font-size: 50px;
  margin: 15px 0;
  transition: font-size 1s;
}
.about__subtitle {
  font-size: 40px;
  margin: 15px 0;
  transition: font-size 1s;
}
.about__text {
  font-size: 25px;
  text-align: justify;
  transition: font-size 1s;
}

.skills {
  display: flex;
  width: 40%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 100px 30px 60px;
  background-image: linear-gradient(45deg, hsl(31, 100%, 48%) 0%, hsl(36, 96%, 59%) 33%, hsl(43, 85%, 69%) 67%, hsl(51, 55%, 82%) 100%);
  border-bottom: 2px solid #d62828;
  border-left: 2px solid #d62828;
  border-radius: 25px;
  transition: width 1s, height 1s;
}
.skills__type {
  margin: 10px 0;
  font-size: 45px;
}
.skills__item {
  font-size: 23px;
}
.skills__item--additional {
  display: none;
}
.skills__level {
  width: 200px;
  height: 14px;
  border: 1px solid #003049;
  margin: 4px 0 10px 0;
  border-radius: 10px;
  position: relative;
  transition: width 1s;
}
.skills__level--additional {
  display: none;
}
.skills__first {
  width: 40%;
  transition: width 1s, height 1s, display 1s;
}
.skills__sec {
  width: 40%;
}
.skills__more {
  width: 100%;
  margin: 20px 0 0 0;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 25px;
  font-family: "Iceland";
  outline: none;
  border: none;
  border-bottom: 1px solid red;
  color: #eae2b7;
  background-color: #003049;
}

.projects {
  width: 90%;
  height: 600px;
  padding: 15px;
  background-image: linear-gradient(45deg, hsl(31, 100%, 48%) 0%, hsl(36, 96%, 59%) 33%, hsl(43, 85%, 69%) 67%, hsl(51, 55%, 82%) 100%);
  border-bottom: 2px solid #d62828;
  border-left: 2px solid #d62828;
  border-radius: 25px;
}
.projects__interface {
  margin: 0 15px;
}
.projects__title {
  margin: 10px 0;
  font-size: 45px;
}
.projects__wrap {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}
.projects__input {
  width: 35%;
  height: 40px;
  border-radius: 10px;
  padding: 0 10px;
  outline: none;
  font-size: 20px;
  border: none;
  letter-spacing: 2px;
}
.projects__keywords {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.projects__key {
  border: 1px solid #003049;
  height: 20px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}
.projects__info {
  width: 30%;
  height: 40px;
  margin-right: 100px;
  font-size: 25px;
  display: flex;
  align-items: center;
}
.projects__clear {
  border-radius: 15px;
  cursor: pointer;
  font-size: 25px;
  font-family: "Iceland";
  outline: none;
  border: none;
  border-bottom: 1px solid red;
  color: #eae2b7;
  background-color: #003049;
  padding: 0 20px;
}
.projects__display {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.projects__item {
  width: 30%;
  height: 90px;
  border: 1px solid #003049;
  display: block;
  margin: 10px;
  background-color: #f77f00;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  transition: transform 0.5s, background, width 1s, height 1s;
}
.projects__item:hover {
  transform: scale(1.3);
  height: 150px;
  margin: -20px 10px;
}

.exp {
  width: 50%;
  background-image: linear-gradient(45deg, hsl(31, 100%, 48%) 0%, hsl(36, 96%, 59%) 33%, hsl(43, 85%, 69%) 67%, hsl(51, 55%, 82%) 100%);
  border-bottom: 2px solid #d62828;
  border-left: 2px solid #d62828;
  border-radius: 25px;
  padding: 15px 30px;
  transition: width 1s;
}
.exp__block {
  border-top: 1px solid #d62828;
}
.exp__subtitle {
  margin: 10px 0;
  font-size: 45px;
}
.exp__year {
  font-size: 20px;
  margin-top: 15px;
}
.exp__place {
  font-size: 28px;
}
.exp__list {
  font-size: 20px;
}
.exp__list--done {
  margin: 10px 0;
}
.exp__more {
  border-radius: 15px;
  cursor: pointer;
  font-size: 25px;
  font-family: "Iceland";
  outline: none;
  border: none;
  border-bottom: 1px solid red;
  color: #eae2b7;
  background-color: #003049;
  padding: 5px 20px;
  margin-top: 30px;
}

.edu {
  width: 50%;
  background-image: linear-gradient(45deg, hsl(31, 100%, 48%) 0%, hsl(36, 96%, 59%) 33%, hsl(43, 85%, 69%) 67%, hsl(51, 55%, 82%) 100%);
  border-bottom: 2px solid #d62828;
  border-left: 2px solid #d62828;
  border-radius: 25px;
  padding: 15px 30px;
  transition: width 1s, height 1s;
}
.edu__block {
  border-top: 1px solid #d62828;
}
.edu__subtitle {
  margin: 10px 0;
  font-size: 45px;
}
.edu__year {
  font-size: 20px;
  margin-top: 15px;
}
.edu__place {
  font-size: 28px;
}
.edu__degree {
  font-size: 20px;
}
.edu__degree--point {
  margin: 10px 0;
}
.edu__more {
  border-radius: 15px;
  cursor: pointer;
  font-size: 25px;
  font-family: "Iceland";
  outline: none;
  border: none;
  border-bottom: 1px solid red;
  color: #eae2b7;
  background-color: #003049;
  padding: 5px 20px;
  margin-top: 30px;
}

.hobbies {
  width: 70%;
  background-image: linear-gradient(45deg, hsl(31, 100%, 48%) 0%, hsl(36, 96%, 59%) 33%, hsl(43, 85%, 69%) 67%, hsl(51, 55%, 82%) 100%);
  border-bottom: 2px solid #d62828;
  border-left: 2px solid #d62828;
  border-radius: 25px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  transition: width 1s;
}
.hobbies__subtitle {
  margin: 10px 0;
  font-size: 45px;
}
.hobbies__list {
  font-size: 22px;
  list-style-type: none;
  padding-left: 0;
}
.hobbies__list > * {
  margin-bottom: 10px;
}

.contacts {
  width: fit-content;
  background-image: linear-gradient(45deg, hsl(31, 100%, 48%) 0%, hsl(36, 96%, 59%) 33%, hsl(43, 85%, 69%) 67%, hsl(51, 55%, 82%) 100%);
  border-bottom: 2px solid #d62828;
  border-left: 2px solid #d62828;
  border-radius: 25px;
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
}
.contacts__links {
  width: 100%;
}
.contacts__name {
  margin: 10px 0;
  font-size: 45px;
  font-size: 55px;
}
.contacts__list {
  list-style-type: none;
  padding-left: 0;
}
.contacts__contact {
  margin-bottom: 10px;
  font-size: 25px;
}
.contacts__contact > * {
  display: flex;
}
.contacts__contact--phone::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-image: url("img/icons/phone-call.png");
}
.contacts__contact--mail::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-image: url("img/icons/email.png");
}
.contacts__contact--geo::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-image: url("img/icons/placeholder.png");
}
.contacts__contact--ln::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-image: url("img/icons/linkedin.png");
}
.contacts__contact--tg::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-image: url("img/icons/telegram.png");
}
.contacts__contact--gh::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-image: url("img/icons/github.png");
}
.contacts__subtitle {
  margin: 10px 0;
  font-size: 45px;
}
.contacts__message {
  width: 50%;
}
.contacts__text {
  width: 90%;
  height: 200px;
  resize: none;
  border-radius: 0 15px 15px 15px;
  padding: 20px;
  letter-spacing: 1px;
  outline: none;
}
.contacts__send {
  border-radius: 15px;
  cursor: pointer;
  font-size: 25px;
  font-family: "Iceland";
  outline: none;
  border: none;
  border-bottom: 1px solid red;
  color: #eae2b7;
  background-color: #003049;
  padding: 5px 20px;
  margin: 10px 0 20px auto;
  display: block;
}

.link {
  text-decoration: none;
  color: #000;
}
.link:hover {
  color: #eae2b7;
}

.burger-menu {
  height: 60px;
  width: 70px;
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  position: absolute;
  top: 0;
  right: 0;
  transition: height 1s;
  z-index: 1;
}
.burger-menu__line--top {
  height: 10px;
  width: 100%;
  display: flex;
}
.burger-menu__line--top-l {
  height: 10px;
  width: 50%;
  border-radius: 5px 0 0 5px;
  background-color: #f77f00;
  transition: transform 1s;
}
.burger-menu__line--top-r {
  height: 10px;
  width: 50%;
  border-radius: 0 5px 5px 0;
  background-color: #f77f00;
  transition: transform 1s;
}
.burger-menu__line--middle {
  height: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: #fcbf49;
}
.burger-menu__line--bottom {
  height: 10px;
  width: 100%;
  display: flex;
}
.burger-menu__line--bottom-l {
  height: 10px;
  width: 50%;
  border-radius: 5px 0 0 5px;
  background-color: #eae2b7;
  transition: transform 1s;
}
.burger-menu__line--bottom-r {
  height: 10px;
  width: 50%;
  border-radius: 0 5px 5px 0;
  background-color: #eae2b7;
  transition: transform 1s;
}

.hidden {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -2;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #eae2b7;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background: #fcbf49;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f77f00;
}

@media only screen and (max-width: 2560px) {
  .menu {
    width: 30%;
  }
  .display {
    width: 70%;
  }
}
@media only screen and (max-width: 1440px) {
  .about__subtitle {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .about__title {
    font-size: 34px;
  }
  .about__subtitle {
    font-size: 24px;
  }
  .about__text {
    font-size: 22px;
  }
  .menu {
    width: 30% !important;
  }
  .display {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .about {
    padding: 0 15px;
    width: 70%;
  }
  .about__title {
    font-size: 25px;
  }
  .about__subtitle {
    font-size: 21px;
  }
  .about__text {
    font-size: 18px;
  }
  .menu {
    width: 40% !important;
  }
  .display {
    width: 60%;
  }
  .menu-button {
    padding-left: 10px;
  }
}
@media only screen and (max-width: 425px) {
  .about {
    width: 80%;
  }
  .about__title {
    font-size: 40px;
  }
  .about__subtitle {
    font-size: 22px;
  }
  .about__text {
    font-size: 20px;
  }
  .burger-menu {
    display: flex;
  }
  .menu {
    position: absolute;
    width: 60%;
    background-image: linear-gradient(90deg, hsl(0, 0%, 0%) 0%, hsl(0, 69%, 25%) 50%, hsl(0, 69%, 50%) 100%);
    border-radius: 0 0 25px 0;
    border-right: 1px solid #eae2b7;
    left: -270px;
    top: 0;
    transition: left 1s;
  }
  .display {
    width: 100%;
  }
}
@media only screen and (max-width: 375px) {
  .about {
    width: 80%;
  }
  .about__title {
    font-size: 34px;
  }
  .about__text {
    font-size: 20px;
  }
}
@media only screen and (max-width: 320px) {
  .about {
    margin-top: 100px;
    width: 80%;
  }
  .about__title {
    font-size: 34px;
  }
  .about__text {
    font-size: 20px;
  }
}
@media only screen and (max-width: 2560px) {
  .menu {
    width: 20%;
  }
  .display {
    width: 80%;
  }
}
@media only screen and (max-width: 1440px) {
  .skills {
    width: 60%;
  }
}
@media only screen and (max-width: 1024px) {
  .skills {
    width: 80%;
    padding: 0 80px 5px 5px;
  }
}
@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll !important;
    height: auto;
  }
  .skills {
    flex-direction: column;
    padding: 10px;
    margin: 10px 0;
  }
  .skills__level {
    width: 80%;
  }
  .skills__item {
    font-size: 20px;
  }
  .skills__first {
    width: 100%;
  }
  .skills__sec {
    width: 100%;
  }
  .menu {
    width: 60% !important;
  }
  .wrapper {
    height: auto;
  }
}
@media only screen and (max-width: 425px) {
  .skills {
    width: 85%;
    margin: 100px 0;
  }
  .skills__level {
    width: 90%;
  }
  .display {
    width: 100%;
  }
}
@media only screen and (max-width: 1440px) {
  .projects {
    height: 550px;
  }
  .projects__item {
    width: 100px;
    height: 100px;
    font-size: 20px;
  }
  .projects__item:hover {
    width: 150px;
    height: 150px;
    margin: -20px -15px;
    background-size: cover !important;
  }
}
@media only screen and (max-width: 1024px) {
  .projects {
    padding: 0;
    margin: 50px 0;
  }
  .projects__input {
    font-size: 15px;
  }
  .projects__info {
    margin: 0 10px;
    font-size: 20px;
  }
  .projects__clear {
    padding: 0 4px;
  }
  .projects__key {
    font-size: 18px;
    padding: 10px;
  }
  .projects__display {
    overflow-y: scroll;
    height: 250px;
    border: 1px solid #003049;
    border-radius: 5px;
    width: 90%;
    margin: 10px auto;
    overflow-x: none !important;
  }
  .projects__item:hover {
    transform: scale(1);
    width: 100px;
    height: 100px;
    margin: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .projects__wrap {
    flex-direction: column;
  }
  .projects__input {
    width: 90%;
  }
  .projects__info {
    width: 90%;
    margin: 0;
  }
  .projects__clear {
    padding: 4px;
  }
  .projects__keywords {
    display: none;
  }
  .projects__display {
    width: 85%;
    height: 345px;
  }
  .projects__item {
    width: 100%;
    height: 50px;
  }
  .projects__item:hover {
    width: 100%;
    height: 50px;
  }
}
@media only screen and (max-width: 425px) {
  .projects {
    margin-top: 90px;
    height: 490px;
  }
  .projects__display {
    height: 290px;
    width: 90%;
  }
}
@media only screen and (max-width: 1440px) {
  .exp {
    width: 70%;
  }
  .exp__list {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1024px) {
  .exp {
    padding: 10px;
  }
  .exp__list {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 768px) {
  .exp {
    width: 85% !important;
    margin: 10px auto;
  }
  .exp__year {
    font-size: 18px;
  }
  .exp__place {
    font-size: 22px;
  }
  .exp__list {
    padding-left: 15px;
  }
}
@media only screen and (max-width: 425px) {
  .exp {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 768px) {
  .edu {
    width: 80% !important;
    margin: 10px !important;
  }
  .edu__year {
    font-size: 18px;
  }
  .edu__place {
    font-size: 22px;
  }
  .edu__degree {
    padding-left: 0 !important;
  }
}
@media only screen and (max-width: 425px) {
  .edu {
    margin-top: 100px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .hobbies {
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .hobbies {
    margin: 10px;
    width: 90% !important;
    flex-direction: column;
  }
  .hobbies__subtitle {
    font-size: 36px;
  }
  .display {
    width: 65%;
  }
}
@media only screen and (max-width: 425px) {
  .hobbies {
    margin-top: 100px;
    width: 100%;
  }
  .hobbies__subtitle {
    font-size: 45px;
  }
  .hobbies__act {
    font-size: 26px;
  }
  .hobbies__aw {
    font-size: 26px;
  }
  .display {
    width: 100% !important;
  }
}
@media only screen and (max-width: 768px) {
  .contacts {
    width: 90%;
    padding: 5px;
  }
  .contacts__name {
    font-size: 40px;
  }
  .contacts__contact {
    font-size: 19px;
  }
  .display {
    width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  .contacts {
    padding: 10px;
    margin-top: 100px;
  }
  .contacts__name {
    font-size: 60px;
  }
  .contacts__contact {
    font-size: 26px;
  }
}
@media only screen and (max-width: 375px) {
  .contacts__contact {
    font-size: 22px;
  }
}

/*# sourceMappingURL=styles.css.map */
