@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto+Mono&display=swap");
#body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  height: 100vh;
  background-color: #003049;
  font-family: "Iceland", monospace;
}

.wrapper {
  height: 100%;
  display: flex;
}

.menu {
  width: 20%;
}
.menu__nav > * {
  width: 70%;
  height: 45px;
  cursor: pointer;
  margin: 10px 0;
  padding-left: 15px;
  font-size: 25px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(45deg, hsl(31, 100%, 48%) 0%, hsl(36, 96%, 59%) 33%, hsl(43, 85%, 69%) 67%, hsl(51, 55%, 82%) 100%);
  border-bottom: 2px solid #d62828;
  border-left: 2px solid #d62828;
  border-radius: 25px;
  border-radius: 0px 15px 15px 0;
  border: none;
  transition: background 1s, border-bottom 1s;
  transition-timing-function: in-out;
  transition-delay: 0.5;
}
.menu__nav > *:hover {
  background: #f77f00;
  border-bottom: 1px solid #eae2b7;
}

.active {
  background-image: linear-gradient(45deg, hsl(31, 100%, 48%) 0%, hsl(36, 96%, 59%) 33%, hsl(43, 85%, 69%) 67%, hsl(51, 55%, 82%) 100%);
  border-bottom: 2px solid #d62828;
  border-left: 2px solid #d62828;
  border-radius: 25px;
  border-radius: 0px 15px 15px 0;
  border-left: none;
  border-bottom: 2px solid #eae2b7;
  width: 80%;
}

.display {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  width: 50%;
  background-image: linear-gradient(45deg, hsl(31, 100%, 48%) 0%, hsl(36, 96%, 59%) 33%, hsl(43, 85%, 69%) 67%, hsl(51, 55%, 82%) 100%);
  border-bottom: 2px solid #d62828;
  border-left: 2px solid #d62828;
  border-radius: 25px;
  padding: 10px 50px;
}
.about__title {
  font-size: 50px;
  margin: 15px 0;
}
.about__subtitle {
  font-size: 40px;
  margin: 15px 0;
}
.about__text {
  font-size: 25px;
  text-align: justify;
}

.skills {
  display: flex;
  width: 40%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 100px 30px 60px;
  background-image: linear-gradient(45deg, hsl(31, 100%, 48%) 0%, hsl(36, 96%, 59%) 33%, hsl(43, 85%, 69%) 67%, hsl(51, 55%, 82%) 100%);
  border-bottom: 2px solid #d62828;
  border-left: 2px solid #d62828;
  border-radius: 25px;
  transition: width 1s, height 1s;
}
.skills__type {
  margin: 10px 0;
  font-size: 45px;
}
.skills__item {
  font-size: 23px;
}
.skills__item--additional {
  display: none;
}
.skills__level {
  width: 200px;
  height: 14px;
  border: 1px solid #003049;
  margin: 4px 0 10px 0;
  border-radius: 10px;
  position: relative;
}
.skills__level--additional {
  display: none;
}
.skills__first {
  width: 40%;
  transition: width 1s, height 1s, display 1s;
}
.skills__sec {
  width: 40%;
}
.skills__more {
  width: 100%;
  margin: 20px 0 0 0;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 25px;
  font-family: "Iceland";
  outline: none;
  border: none;
  border-bottom: 1px solid red;
  color: #eae2b7;
  background-color: #003049;
}

.projects {
  width: 90%;
  height: 600px;
  padding: 15px;
  background-image: linear-gradient(45deg, hsl(31, 100%, 48%) 0%, hsl(36, 96%, 59%) 33%, hsl(43, 85%, 69%) 67%, hsl(51, 55%, 82%) 100%);
  border-bottom: 2px solid #d62828;
  border-left: 2px solid #d62828;
  border-radius: 25px;
}
.projects__interface {
  margin: 0 15px;
}
.projects__title {
  margin: 10px 0;
  font-size: 45px;
}
.projects__wrap {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}
.projects__input {
  width: 35%;
  height: 40px;
  border-radius: 10px;
  padding: 0 10px;
  outline: none;
  font-size: 20px;
  border: none;
  letter-spacing: 2px;
}
.projects__keywords {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.projects__key {
  border: 1px solid #003049;
  height: 20px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}
.projects__info {
  width: 30%;
  height: 40px;
  margin-right: 100px;
  font-size: 25px;
  display: flex;
  align-items: center;
}
.projects__clear {
  border-radius: 15px;
  cursor: pointer;
  font-size: 25px;
  font-family: "Iceland";
  outline: none;
  border: none;
  border-bottom: 1px solid red;
  color: #eae2b7;
  background-color: #003049;
  padding: 0 20px;
}
.projects__display {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.projects__item {
  width: 30%;
  height: 90px;
  border: 1px solid #003049;
  display: block;
  margin: 10px;
  background-color: #f77f00;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  transition: transform 0.5s, background;
}
.projects__item:hover {
  transform: scale(1.3);
  height: 150px;
  margin: -20px 10px;
}

.exp {
  width: 50%;
  background-image: linear-gradient(45deg, hsl(31, 100%, 48%) 0%, hsl(36, 96%, 59%) 33%, hsl(43, 85%, 69%) 67%, hsl(51, 55%, 82%) 100%);
  border-bottom: 2px solid #d62828;
  border-left: 2px solid #d62828;
  border-radius: 25px;
  padding: 15px 30px;
  transition: width 1s;
}
.exp__block {
  border-top: 1px solid #d62828;
}
.exp__subtitle {
  margin: 10px 0;
  font-size: 45px;
}
.exp__year {
  font-size: 20px;
  margin-top: 15px;
}
.exp__place {
  font-size: 28px;
}
.exp__list {
  font-size: 20px;
}
.exp__list--done {
  margin: 10px 0;
}
.exp__more {
  border-radius: 15px;
  cursor: pointer;
  font-size: 25px;
  font-family: "Iceland";
  outline: none;
  border: none;
  border-bottom: 1px solid red;
  color: #eae2b7;
  background-color: #003049;
  padding: 5px 20px;
  margin-top: 30px;
}

.edu {
  width: 50%;
  background-image: linear-gradient(45deg, hsl(31, 100%, 48%) 0%, hsl(36, 96%, 59%) 33%, hsl(43, 85%, 69%) 67%, hsl(51, 55%, 82%) 100%);
  border-bottom: 2px solid #d62828;
  border-left: 2px solid #d62828;
  border-radius: 25px;
  padding: 15px 30px;
}
.edu__block {
  border-top: 1px solid #d62828;
}
.edu__subtitle {
  margin: 10px 0;
  font-size: 45px;
}
.edu__year {
  font-size: 20px;
  margin-top: 15px;
}
.edu__place {
  font-size: 28px;
}
.edu__degree {
  font-size: 20px;
}
.edu__degree--point {
  margin: 10px 0;
}
.edu__more {
  border-radius: 15px;
  cursor: pointer;
  font-size: 25px;
  font-family: "Iceland";
  outline: none;
  border: none;
  border-bottom: 1px solid red;
  color: #eae2b7;
  background-color: #003049;
  padding: 5px 20px;
  margin-top: 30px;
}

.hobbies {
  width: 70%;
  background-image: linear-gradient(45deg, hsl(31, 100%, 48%) 0%, hsl(36, 96%, 59%) 33%, hsl(43, 85%, 69%) 67%, hsl(51, 55%, 82%) 100%);
  border-bottom: 2px solid #d62828;
  border-left: 2px solid #d62828;
  border-radius: 25px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}
.hobbies__subtitle {
  margin: 10px 0;
  font-size: 45px;
}
.hobbies__list {
  font-size: 22px;
  list-style-type: none;
  padding-left: 0;
}
.hobbies__list > * {
  margin-bottom: 10px;
}

.contacts {
  width: fit-content;
  background-image: linear-gradient(45deg, hsl(31, 100%, 48%) 0%, hsl(36, 96%, 59%) 33%, hsl(43, 85%, 69%) 67%, hsl(51, 55%, 82%) 100%);
  border-bottom: 2px solid #d62828;
  border-left: 2px solid #d62828;
  border-radius: 25px;
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
}
.contacts__links {
  width: 100%;
}
.contacts__name {
  margin: 10px 0;
  font-size: 45px;
  font-size: 55px;
}
.contacts__list {
  list-style-type: none;
  padding-left: 0;
}
.contacts__contact {
  margin-bottom: 10px;
  font-size: 25px;
}
.contacts__contact > * {
  display: flex;
}
.contacts__contact--phone::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-image: url("img/icons/phone-call.png");
}
.contacts__contact--mail::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-image: url("img/icons/email.png");
}
.contacts__contact--geo::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-image: url("img/icons/placeholder.png");
}
.contacts__contact--ln::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-image: url("img/icons/linkedin.png");
}
.contacts__contact--tg::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-image: url("img/icons/telegram.png");
}
.contacts__contact--gh::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-image: url("img/icons/github.png");
}
.contacts__subtitle {
  margin: 10px 0;
  font-size: 45px;
}
.contacts__message {
  width: 50%;
}
.contacts__text {
  width: 90%;
  height: 200px;
  resize: none;
  border-radius: 0 15px 15px 15px;
  padding: 20px;
  letter-spacing: 1px;
  outline: none;
}
.contacts__send {
  border-radius: 15px;
  cursor: pointer;
  font-size: 25px;
  font-family: "Iceland";
  outline: none;
  border: none;
  border-bottom: 1px solid red;
  color: #eae2b7;
  background-color: #003049;
  padding: 5px 20px;
  margin: 10px 0 20px auto;
  display: block;
}

.link {
  text-decoration: none;
  color: #000;
}
.link:hover {
  color: #eae2b7;
}

.hidden {
  display: none;
}

html, body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -2;
}

/*# sourceMappingURL=styles.css.map */
